
* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    display: grid;
    grid-template: 180px 1fr / 1fr 5fr;
    width: 100vw;
    height: 100%;
    font-family: 'Roboto', system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 18px;
}

a {
    text-decoration: none;
}



.sidebar {
    grid-area: 1 / 1 / 3 / 2;
    background-color: #0ea5e9;
    display: grid;
    grid-template: 50px repeat(12, 35px) / 1fr 4fr;
    gap: 5px 10px;
    padding: 30px 10px 0px 30px;
}

.dashboard_svg {
    place-self: center;
    fill: white;
    width: 50px;
    height: 50px;
}

.dashboard_text {
    place-self: center start;
    font-size: 1.5em;
    font-weight: 900;
    color: white;
}

.sidebar_svg {
    fill: white;
    place-self: center;
    width: 35px;
    height: 35px;
}

.sidebar_text {
    color: white;
    place-self: center start;
    font-weight: 900;
}



.header {
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template: 1fr 2fr;
    padding: 15px 0px 10px 50px;
    row-gap: 10px;
}

.header_row_one {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
}

.search_bar {
    place-self: center start;
    display: grid;
    grid-template: 30px / 30px 700px;
    column-gap: 20px;
}

.search_bar > input {
    border-radius: 20px;
    background-color: #e2e8f0;
    border: none;
}

.search_bar > a, .row_one_icons > a {
    display: grid;
    align-self: center;
}

.search_bar > a > img, .row_one_icons > a > img {
    width: 30px;
    height: 30px;
    place-self: center;
}

.row_one_icons {
    display: grid;
    grid-template: 60px / 25px 40px 150px;
    column-gap: 30px;
    place-self: center;
}

.header_row_one_username, .header_row_one_username:visited {
    place-self: center start;
    font-weight: 900;
    color: black;
}

#row_one_icon {
    width: 40px;
    height: 40px;
    place-self: center;
}

.header_row_two {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}

.row_two_user {
    display: grid;
    grid-template: 28px 42px / 70px 400px;
    column-gap: 20px;
}

.row_two_user > a {
    grid-area: 1 / 1 / -1 / 2;
    place-self: center;
}

.row_two_user > a > img {
    width: 65px;
    height: 65px;
}

.header_user {
    font-size: 1.5rem;
    font-weight: 900;
    align-self: start;
}

.hi_there {
    font-size: 0.8rem;
    font-weight: 900;
    align-self: end;
}

.row_two_buttons {
    display: grid;
    grid-template: 40px / repeat(3, 100px);
    place-self: center center;
    column-gap: 30px;
}

.row_two_buttons > button {
    border: none;
    border-radius: 20px;
    background-color: #0ea5e9;
    color: white;
    font-weight: 900;
    font-size: 1rem;
}




.main_content {
    grid-area: 2 / 2 / -1 / -1;
    background-color: #e2e8f0;
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 40px;
    padding: 100px 40px 40px 40px;
}

.projects {
    display: grid;
    grid-template: repeat(3, 1fr) / 1fr 1fr;
    gap: 40px;
}

.card {
    background-color: white;
    border-radius: 10px;
    padding: 40px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 5px solid orange;
    position: relative;
}

.card_content > h1 {
    font-size: 1.2rem;
}

.card_content > p {
    font-size: 1rem;
}

.card_icons {
    display: grid;
    grid-template-columns: repeat(3, 25px);
    column-gap: 5px;
    justify-content: end;
    margin-top: 10px;
}

.card_icons > img {
    height: 20px;
    width: 20px;
}

.card:nth-child(1)::before {
    content: "Your Projects";
    position: absolute;
    top: -45px;
    left: 5px;
    font-weight: 650;
    font-size: 1.5rem;
}

.content_sidebar {
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 80px;
}

.content_sidebar > div {
    background-color: white;
    border-radius: 10px;
}

.announcements {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    padding: 30px;
    row-gap: 10px;
    position: relative;
}

.announcements > div {
    padding: 10px;
}

.announcements::before {
    content: "Announcements";
}

.announcements div:nth-child(1), .announcements div:nth-child(2) {
    border-bottom: #e2e8f0 solid 2px;
}

.announcements > div > h1, .trending > div {
    font-size: 1rem;
}

.announcements > div > p {
    font-size: 0.8rem;
}

.trending {
    display: grid;
    grid-template: repeat(4,1fr) / 1fr 3fr;
    padding: 30px;
    position: relative;
}

.trending > a > img {
    width: 50px;
    height: 50px;
}

.trending > a, .trending > div {
    place-self: center start;
}

.trending > div p:nth-child(1) {
    font-weight: 650;
}

.trending::before {
    content: "Trending";
}

.trending::before, .announcements::before {
    position: absolute;
    font-weight: 650;
    font-size: 1.5rem;
    top: -45px;
    left: 10px;
}